.quick-links{
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 3rem;
}

.user-feedback-container {
    display: flex;
    flex-direction: column;
}

.user-feedback-container input, textarea{
    width: 100%;
    background: transparent;
    color: white;
    margin-top: 10px;
    outline: none;
    border: 1px solid white;
    padding: 5px;
}