.banner-bg{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://i.ibb.co/G7Wc67D/banner-img-1.jpg');
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://i.ibb.co/xFzcRTP/header-image.jpg'); */
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-content{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)); */
}